.contacts{
  text-align: center;
}

.contactform {

  background-color: $light-gray;
}

.name,
.email,
.telephone {
  margin-right: auto;
  margin-left: auto;
  height: 38px;
  border-radius: 0.2em;
  //max-width: 270px;
  width: 80%;
  font-size: 16px;
  line-height: 16px;
  transition: 0.5s;
  -webkit-box-shadow: 0px 3px 40px 12px #FFFFFF;
  box-shadow: 0px 3px 40px 12px #FFFFFF;
  border-color: #d7d6d6;
p{
  min-width: 200px!important;
  margin-left: auto;
  margin-right: auto;
}
  ::placeholder {
    color: #868686 !important;
  }


}

.messagearea {

  transition: 0.5s;
  -webkit-box-shadow: 0px 3px 40px 12px #FFFFFF;
  box-shadow: 0px 3px 40px 12px #FFFFFF;
  border-color: #d7d6d6;

  height: 200px !important;
  border-radius: 0.2rem;

  ::placeholder {
    color: #868686 !important;
  }
}


.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #0f0f0f;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  background-color: white;
  //-webkit-box-shadow: 0px 3px 40px 12px #FFFFFF;
  //box-shadow: 0px 3px 40px 12px #FFFFFF;
  border:1px solid #d7d6d6;
  -webkit-box-shadow: inset 0px 0px 131px -65px rgba(235,235,235,1);
  -moz-box-shadow: inset 0px 0px 131px -65px rgba(235,235,235,1);
  box-shadow: inset 0px 0px 131px -65px rgba(235,235,235,1);
  border-radius: 0.3rem;
  transition: 0.2s;
}

.submit:hover {
  transform: scale(1.02);
  transition: 0.2s;
  background: rgba(255, 255, 255, .2);
}

.submit:active {
  background: white;
}
