.menu-item {

  height: 1.5rem !important;
  width: auto !important;
  text-align: center !important;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-left: 8px;
  margin-right: 8px;

  a {
    font-size: 13px;
    transition: all 0.45s ease;
    color: #000000;
    height: 23px;
    padding: 3px!important;
    margin-right: 0!important;

    &:hover {
      color: black;
      transform: scale(1.1);
      transition: all 0.3s ;
    }
  }

  text{
    z-index: 99999;
  }
}

.menu .is-active > a {
  color: black !important;
  background: white !important;

}

.menu {
  width: 628px;
  height: 3rem !important;

}

.menu-header-menu-container{
  width: 410px;
  margin-right: auto;
  margin-left: auto;
  height: 37px;

  ul{
    width: 410px;
    height: 37px;
  }
}
